@font-face {
    font-family: ICIELPANTON_LIGHT;
    src: url(../fonts/ICIELPANTON-LIGHT.OTF);
}
@font-face {
    font-family: ICIELPANTON_LIGHT_ITALY;
    src: url(../fonts/ICIELPANTON-LIGHTITALIC.OTF);
}
@font-face {
    font-family: ICIELPANTON_BLACK;
    src: url(../fonts/ICIELPANTON-BLACK.OTF);
}
@font-face {
    font-family: ICIELPANTON_BLACK_ITALY;
    src: url(../fonts/ICIELPANTON-BLACKITALIC.OTF);
}

body {
    overflow: hidden;
}

#div-container {
    transition: all 1s;
}
#beer-container {
    position: absolute;
    width: 80%;
    height: 80%;
    display: none;
    transition: all 6s;
    top: 15%;
    left: 0%;

}

#gift-container {
    position: absolute;
    width: 80%;
    height: 80%;
    transition: all 0s;
    opacity: 0;
    top: 15%;
    left: 0%;
}

#nextAdsMsg {
    position: absolute;
    width: 25%;
    bottom: 5%;
    left: 5%;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-size: 2.5vw;
    margin: 0;
    text-align: center;
    line-height: 13vh;
    transition: all 1s;
    display: none;
    font-family: ICIELPANTON_LIGHT;
}

#beerMsg {
    position: absolute;
    width: 35%;
    bottom: 15%;
    left: 20%;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-size: 1.5vw;
    margin: 0;
    padding: 1vh;
    line-height: 5vh;
    transition: all 1s;
    opacity: 0;
    font-family: ICIELPANTON_LIGHT;
}

#giftMsg {
    position: absolute;
    width: 22%;
    bottom: 30%;
    right: 10%;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-size: 1.5vw;
    margin: 0;
    padding: 1vh;
    line-height: 5vh;
    transition: all 1s;
    opacity: 0;
    font-family: ICIELPANTON_LIGHT;
}

#rewardMsg {
    position: absolute;
    width: 25%;
    bottom: 15%;
    right: 5%;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-size: 1.5vw;
    margin: 0;
    padding: 1vh;
    line-height: 5vh;
    transition: all 1s;
    opacity: 0;
    font-family: ICIELPANTON_BLACK;
}

#beerGif {
    position: absolute;
    bottom: -5%;
    left: 0%;
    transition: all 5s;
    transform: scaleY(0);
    transform-origin: bottom;
    width: 100%;
    /* height: 30%; */
}

#beerPour {
    position: absolute;
    bottom: -65%;
    left: -10%;
    transform: scale(-1,3);
    height: 50%;
}

#qrCode {
    display: block;
    margin: auto;
    width: 20vh;
    height: 20vh;
}